$redGradient:  linear-gradient(45deg, #E24144, #A5151B);
$orange: #fca211;
$lightGrey: #fff;
$greyGradient: linear-gradient(315deg, #E3E3E3, #BDBDBD);
$blue: #2b2f5f;
$grey: #747474;
$darkGrey: #393939;
$brown: #883213;