@font-face {
    font-family: 'malina';
    src: url('/css/fonts/ALS\ Malina\ Regular.svg') format('svg'),
         url('/css/fonts/ALS\ Malina\ Regular.woff') format('woff'),
         url('/css/fonts/ALS\ Malina\ Regular.woff2') format('woff2'),
         url('/css/fonts/ALS\ Malina\ Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
     font-family: 'roboto';
     src: url('/css/fonts/Roboto-Light.ttf') format('tryetype');

     font-weight: lighter;
     font-style: normal;
     font-display: optional;
  }