@import 'variables.scss';

.section_four {
  background-image: $greytowhite;
  padding: 40px 0 ;
  position: relative;
}
.our_team {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_tabs {
    padding: 20px;
    cursor: pointer;
  }

  .tabs_name {
    font-family: 'malina', sans-serif;
    font-size: 2em;
    color: $blue;
  }
  .tabs_ocupation {
    font-family: 'roboto', sans-serif;
    color: #8d8d8d;
  }

  &_title {
    font-family: 'malina', sans-serif;
    font-size: 4em;
    width: 30%;
    color: $blue;
  }

  &_list {
    @extend .our_team;
    width: 70%;
    list-style: none;
    padding-left: 70px;
  }

  &_tabs_active {
    background:  #893213;
    border-radius: 2em;

    .tabs_name {
      color: $yellow;
    }
    .tabs_ocupation {
      color: #fff;
    }
  }    
}

.team_content {
  padding: 0;
}
.team_slide  {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 35px;
  transition: .7s;
  display: none;
  

  &_active {
    display: flex;
    justify-content: space-between;
  }

  &_left, &_right {
    width: 23em;
    font-family: Arial,Helvetica,sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 1.5;
    color: #747474;

    .team_desc_bold {
      font-weight: bolder;
    }
    .team_desc_right {
      width: 25em;
    } 
  }
}
.chief_img {
  position: absolute;
  top: 20%;
  left: 50%;  
  transform: translateX(-60%);
  display: block;
}
  
  

.order_now {
  display: block;
  align-items: center;
  position: relative;
  top: 50%;
  margin-top: 7.4em;
  
  
  
  &_form {
    width: 70%;
    height: 400px;
    background-image: url(/img/background/form.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
  }

  &_left {
    font-family: 'malina', sans-serif;
    font-size: 4em;
    color: #fff;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
  }

  &_right  {
    color: #fff;
    width: 50%;
    text-align: center;
    background: rgba(29,29,32,.84);
    opacity: 0.9;
    padding: 30px;
  }
}  
.makeorder__text-input {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  width: 100%;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 40px;
  
  &::placeholder {
    color: #fff;
  }
}
.make_order_label {
  cursor: pointer;
}
.checkbox {
  width: 15px;
  height: 15px;
  border: none;
}
.makeorder__check-text {
  font-family: 'roboto', sans-serif;
  font-size: 1em;
}