@import '/css/fonts.css';
@import '/css/normalize.css';
@import '/css/section-one.scss';
@import '/css/section-two.scss';
@import '/css/section-three.scss';
@import '/css/section-four.scss';




body, html {
  height: 100%;
  scroll-behavior: smooth;
}
.body {
  font-family: 'Roboto', Arial, sans-serif;     
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42em;
}
* {
  box-sizing: border-box;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.wrapper  {
  min-width: 1200px;
  overflow: hidden;
  min-height: calc(100vh - 92px);
}





//////section five///////
.section_five {
  background: url(/img/background/faq.png) repeat;
  padding: 80px 0; 
}
.faq_list {
  list-style: decimal;
  color: #fff;

    &_item {
    line-height: 4em;
    
    
    .faq_link {
    border-bottom: 2px dashed #fff;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    }
  }
}
///////////////////////////////////

//////////////Footer/////////////
.footer_wrap {
  @extend %displayflex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.footer_icons {
  @extend %displayflex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  
  &_item {
    padding: 0 15px 0 0;
    
  }
}



$socials: facebook, instagram, ok, twitter, vkontakte;

@each $social in $socials {
  .icon_#{$social} {
    background: url('/img/icon/socials/#{$social}.png');
    width: 22px;
    height: 22px;
  }
  .icon_#{$social}:hover {
    background: url('/img/icon/socials/#{$social}-hover.png');
    width: 22px;
    height: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
  }
}